<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>  <!--interpolation binding-->
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div><span>name: </span>{{selectedHero.name}}</div>
</div>

<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">     <!--ngModel directive for 2 way data-Binding-->
  </label>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li [class.selected]="hero === selectedHero"
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>




